body{
	color: hotpink;
     font-family: 'Comic Sans MS', cursive;
    	background: url(../img/bg.jpg);

}

h1 { font-size: 30px;}

#container {
    margin: auto;
    width: 1024px;
    text-align: center;
}

#cr-stage {
    border: 1px solid black;
  /* background: url("../img/background.jpg") 0 0 repeat;

*/
}
